.backround {
    background-color: darkslategray;
}

.headline1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: lightblue;
}

.logo {
    max-width: 10%;
}

.gamemechanics {
    max-width: 70%;
}

.gameplayexample {
    max-width: 50%;
}